{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
 
    <h1>Category: {{ categoryName }}</h1>
    This friendly message is coming from:
    <ul>{% for product in products %}
        <li>{{ product.name }} - {{ product.description }} - {{ product.price }}</li>
    {% endfor %}
      
    </ul>
    
</div>
{% endblock %}
