<span class="position-absolute top-50  start-100 translate-middle badge rounded-pill bg-danger">    {% set totalQuantity = 0 %}
    {% for cartItem in app.session.get('cart', []) %}
        {% set totalQuantity = totalQuantity + cartItem.quantity %}
    {% endfor %}
    {{ totalQuantity }}
</span>

