
 
   {# SLIDER #}
   
   <div id="carouselExampleDark" class="carousel carousel-dark slide px-2" data-bs-ride="carousel">
    {# <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div> #}
    <div class="carousel-inner">
      <div class="carousel-item active" style="height:350px"><div class="row  row-cols-lg-4 h-100 align-items-stretch g-3 py-1">
         <div class="col">
        <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1609334761848-77b4d1994040?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80'); background-size: cover; height:100%">
          <div class="d-flex flex-column p-1 pb-1 text-white text-shadow-1">
            <h5 class="pt-1 mt-1 mb-2 ms-2 textcardpic lh-1 fw-bold">Apple</h5>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://img.freepik.com/free-vector/branding-identity-corporate-vector-logo-letter-m-design_460848-13901.jpg?size=626&ext=jpg&ga=GA1.1.1584177370.1688131124&semt=ais" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Brand new</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small><i class="bi bi-star"></i></small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1523275335684-37898b6baf30?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1999&q=80'); background-size: cover; height:100%">
          <div class="d-flex flex-column p-1 pb-1 text-white text-shadow-1">
            <h5 class="pt-1 mt-1 mb-2 ms-2 textcardpic lh-1 fw-bold">Wearable</h5>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://img.freepik.com/free-vector/branding-identity-corporate-vector-logo-letter-m-design_460848-13901.jpg?size=626&ext=jpg&ga=GA1.1.1584177370.1688131124&semt=ais" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Brand new</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small><i class="bi bi-star"></i></small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1611186871348-b1ce696e52c9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80'); background-size: cover; height:100%">
          <div class="d-flex flex-column p-1 pb-1 text-white text-shadow-1">
            <h5 class="pt-1 mt-1 mb-2 ms-2 textcardpic lh-1 fw-bold">Laptop</h5>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://img.freepik.com/free-vector/branding-identity-corporate-vector-logo-letter-m-design_460848-13901.jpg?size=626&ext=jpg&ga=GA1.1.1584177370.1688131124&semt=ais" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Brand new</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small><i class="bi bi-star"></i></small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1575125069494-6a0c5819d340?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80'); background-size: cover; height:100%">
          <div class="d-flex flex-column p-1 pb-1 text-white text-shadow-1">
            <h5 class="pt-1 mt-1 mb-2 ms-2 textcardpic lh-1 fw-bold">Smartwatch</h5>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://img.freepik.com/free-vector/branding-identity-corporate-vector-logo-letter-m-design_460848-13901.jpg?size=626&ext=jpg&ga=GA1.1.1584177370.1688131124&semt=ais" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Brand new</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small><i class="bi bi-star"></i></small>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1678057801177-f5847623c50e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1631&q=80'); background-size: cover; height:100%">
          <div class="d-flex flex-column p-1 pb-1 text-white text-shadow-1">
            <h5 class="pt-1 mt-1 mb-2 ms-2 textcardpic lh-1 fw-bold">VR Set</h5>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://img.freepik.com/free-vector/branding-identity-corporate-vector-logo-letter-m-design_460848-13901.jpg?size=626&ext=jpg&ga=GA1.1.1584177370.1688131124&semt=ais" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Brand new</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small><i class="bi bi-star"></i></small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1632290551528-29e111a42330?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80'); background-size: cover; height:100%">
          <div class="d-flex flex-column p-1 pb-1 text-white text-shadow-1">
            <h5 class="pt-1 mt-1 mb-2 ms-2 textcardpic lh-1 fw-bold">Tablet</h5>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://img.freepik.com/free-vector/branding-identity-corporate-vector-logo-letter-m-design_460848-13901.jpg?size=626&ext=jpg&ga=GA1.1.1584177370.1688131124&semt=ais" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Brand new</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small><i class="bi bi-star"></i></small>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1649739295817-3296ed5b73f3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1664&q=80'); background-size: cover; height:100%">
          <div class="d-flex flex-column p-1 pb-1 text-white text-shadow-1">
            <h5 class="pt-1 mt-1 mb-2 ms-2 textcardpic lh-1 fw-bold">Camera</h5>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://img.freepik.com/free-vector/branding-identity-corporate-vector-logo-letter-m-design_460848-13901.jpg?size=626&ext=jpg&ga=GA1.1.1584177370.1688131124&semt=ais" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Brand new</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small><i class="bi bi-star"></i></small>
              </li>
            </ul>
          </div>
        </div>
      </div><div class="col">
        <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1492619375914-88005aa9e8fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1730&q=80  '); background-size: cover; height:100%">
          <div class="d-flex flex-column p-1 pb-1 text-white text-shadow-1">
            <h5 class="pt-1 mt-1 mb-2 ms-2 textcardpic lh-1 fw-bold">Monitor</h5>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://img.freepik.com/free-vector/branding-identity-corporate-vector-logo-letter-m-design_460848-13901.jpg?size=626&ext=jpg&ga=GA1.1.1584177370.1688131124&semt=ais" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Brand new</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small><i class="bi bi-star"></i></small>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      </div>
      
       {# SLIDE 2 #}

      </div>
      <div class="carousel-item" style="height:350px"><div class="row  row-cols-lg-4 h-100 align-items-stretch g-3 py-1">
        <div class="col">
       <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1526947425960-945c6e72858f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80'); background-size: cover; height:100%">
         <div class="d-flex flex-column p-1 pb-1 text-white text-shadow-1">
           <h5 class="pt-1 mt-1 mb-2 ms-2 textcardpic lh-1 fw-bold">Oil</h5>
           <ul class="d-flex list-unstyled mt-auto">
             <li class="me-auto">
               <img src="https://img.freepik.com/free-vector/branding-identity-corporate-vector-logo-letter-m-design_460848-13901.jpg?size=626&ext=jpg&ga=GA1.1.1584177370.1688131124&semt=ais" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
             </li>
             <li class="d-flex align-items-center me-3">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
               <small>Brand new</small>
             </li>
             <li class="d-flex align-items-center">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
               <small><i class="bi bi-star"></i></small>
             </li>
           </ul>
         </div>
       </div>
     </div>

     <div class="col">
       <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1633793566189-8e9fe6f817fc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTA0fHxwcm9kdWN0c3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60'); background-size: cover; height:100%">
         <div class="d-flex flex-column p-1 pb-1 text-white text-shadow-1">
           <h5 class="pt-1 mt-1 mb-2 ms-2 textcardpic lh-1 fw-bold">Set</h5>
           <ul class="d-flex list-unstyled mt-auto">
             <li class="me-auto">
               <img src="https://img.freepik.com/free-vector/branding-identity-corporate-vector-logo-letter-m-design_460848-13901.jpg?size=626&ext=jpg&ga=GA1.1.1584177370.1688131124&semt=ais" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
             </li>
             <li class="d-flex align-items-center me-3">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
               <small>Brand new</small>
             </li>
             <li class="d-flex align-items-center">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
               <small><i class="bi bi-star"></i></small>
             </li>
           </ul>
         </div>
       </div>
     </div>

     <div class="col">
       <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1566814534947-46a09bcbb88c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1917&q=80'); background-size: cover; height:100%">
         <div class="d-flex flex-column p-1 pb-1 text-white text-shadow-1">
           <h5 class="pt-1 mt-1 mb-2 ms-2 textcardpic lh-1 fw-bold">Package</h5>
           <ul class="d-flex list-unstyled mt-auto">
             <li class="me-auto">
               <img src="https://img.freepik.com/free-vector/branding-identity-corporate-vector-logo-letter-m-design_460848-13901.jpg?size=626&ext=jpg&ga=GA1.1.1584177370.1688131124&semt=ais" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
             </li>
             <li class="d-flex align-items-center me-3">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
               <small>Brand new</small>
             </li>
             <li class="d-flex align-items-center">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
               <small><i class="bi bi-star"></i></small>
             </li>
           </ul>
         </div>
       </div>
     </div>

     <div class="col">
       <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1591375275624-c2f9fdcc1dc2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80'); background-size: cover; height:100%">
         <div class="d-flex flex-column p-1 pb-1 text-white text-shadow-1">
           <h5 class="pt-1 mt-1 mb-2 ms-2 textcardpic lh-1 fw-bold">Combi</h5>
           <ul class="d-flex list-unstyled mt-auto">
             <li class="me-auto">
               <img src="https://img.freepik.com/free-vector/branding-identity-corporate-vector-logo-letter-m-design_460848-13901.jpg?size=626&ext=jpg&ga=GA1.1.1584177370.1688131124&semt=ais" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
             </li>
             <li class="d-flex align-items-center me-3">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
               <small>Brand new</small>
             </li>
             <li class="d-flex align-items-center">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
               <small><i class="bi bi-star"></i></small>
             </li>
           </ul>
         </div>
       </div>
     </div>
     <div class="col">
       <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1564594326930-17381130fd2e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80'); background-size: cover; height:100%">
         <div class="d-flex flex-column p-1 pb-1 text-white text-shadow-1">
           <h5 class="pt-1 mt-1 mb-2 ms-2 textcardpic lh-1 fw-bold">Skin clean</h5>
           <ul class="d-flex list-unstyled mt-auto">
             <li class="me-auto">
               <img src="https://img.freepik.com/free-vector/branding-identity-corporate-vector-logo-letter-m-design_460848-13901.jpg?size=626&ext=jpg&ga=GA1.1.1584177370.1688131124&semt=ais" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
             </li>
             <li class="d-flex align-items-center me-3">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
               <small>Brand new</small>
             </li>
             <li class="d-flex align-items-center">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
               <small><i class="bi bi-star"></i></small>
             </li>
           </ul>
         </div>
       </div>
     </div>

     <div class="col">
       <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1631237535546-4cbfbdeded8e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1925&q=80'); background-size: cover; height:100%">
         <div class="d-flex flex-column p-1 pb-1 text-white text-shadow-1">
           <h5 class="pt-1 mt-1 mb-2 ms-2 textcardpic lh-1 fw-bold">Make up</h5>
           <ul class="d-flex list-unstyled mt-auto">
             <li class="me-auto">
               <img src="https://img.freepik.com/free-vector/branding-identity-corporate-vector-logo-letter-m-design_460848-13901.jpg?size=626&ext=jpg&ga=GA1.1.1584177370.1688131124&semt=ais" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
             </li>
             <li class="d-flex align-items-center me-3">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
               <small>Brand new</small>
             </li>
             <li class="d-flex align-items-center">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
               <small><i class="bi bi-star"></i></small>
             </li>
           </ul>
         </div>
       </div>
     </div>
     <div class="col">
       <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1642764732257-b466942837fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODQwfHxwcm9kdWN0c3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60'); background-size: cover; height:100%">
         <div class="d-flex flex-column p-1 pb-1 text-white text-shadow-1">
           <h5 class="pt-1 mt-1 mb-2 ms-2 textcardpic lh-1 fw-bold">Vitals</h5>
           <ul class="d-flex list-unstyled mt-auto">
             <li class="me-auto">
               <img src="https://img.freepik.com/free-vector/branding-identity-corporate-vector-logo-letter-m-design_460848-13901.jpg?size=626&ext=jpg&ga=GA1.1.1584177370.1688131124&semt=ais" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
             </li>
             <li class="d-flex align-items-center me-3">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
               <small>Brand new</small>
             </li>
             <li class="d-flex align-items-center">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
               <small><i class="bi bi-star"></i></small>
             </li>
           </ul>
         </div>
       </div>
     </div><div class="col">
       <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1651628383063-e1625a2eb7da?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODk3fHxwcm9kdWN0c3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60'); background-size: cover; height:100%">
         <div class="d-flex flex-column p-1 pb-1 text-white text-shadow-1">
           <h5 class="pt-1 mt-1 mb-2 ms-2 textcardpic lh-1 fw-bold">Make up Set</h5>
           <ul class="d-flex list-unstyled mt-auto">
             <li class="me-auto">
               <img src="https://img.freepik.com/free-vector/branding-identity-corporate-vector-logo-letter-m-design_460848-13901.jpg?size=626&ext=jpg&ga=GA1.1.1584177370.1688131124&semt=ais" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
             </li>
             <li class="d-flex align-items-center me-3">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
               <small>Brand new</small>
             </li>
             <li class="d-flex align-items-center">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
               <small><i class="bi bi-star"></i></small>
             </li>
           </ul>
         </div>
       </div>
     </div>
        
      </div>
    </div>
    {# <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> #}
  </div>
  {# SLIDER END #}
   
      
    